<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/test.css">
        <title>
            Rocky is cool
        </title>
    </head>
    <body>
        <h3>
            Rocky is cool
        </h3>
        <p>
            Please enter the location you are heading to and the number of people in your party!<br>
            Login in the box below.<br>
            <form action="/addcount" method="post">
                Location: <input type="text" name="location">  <br />
                Number of People: <input type="number" name="num" />
                Username: <input type="text" name = "user" />
                Password: <input type="text" name = "password" />
                <input type="submit" name= "form" value="Submit" />
            </form>
        </p>
    </body>
</html>