h1{
    font-family: avenir;
    color: lightskyblue;
    background-color: limegreen;
}
h2{
    font-family: cursive;
    color: limegreen;
    font-size: 200px;
}

p {
    margin-top: 30px;
    margin-left: 100px;
}